<div id="center" class="row">  

           
                <span id="colA" class="colu col-sm"> 
                    <div id="Aimg" class="images"></div>
                    <div id="Atxt" class="centerTxt">
                        <p class="title1">Random Img 1</p>
                     <p class="core">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis dui laoreet, pretium est vitae. 
                </p>
                    </div>
                    </span>
                <span id="colB" class="colu col-sm"> 
                     
                     <div id="Bimg" class="images"></div>
    
    <div id="Btxt" class="centerTxt">
        <p class="title1">Random Img 2</p>
        <p class="core">
               Proin posuere orci in mauris vehicula, porttitor consequat ligula luctus. 
            
            Donec semper metus orci, at sodales justo finibus id.
                </p>
                    </div>
    </span>
                <span id="colC" class="colu col-sm">
                    
                     <div id="Cimg" class="images"></div>
                        <div id="Ctxt" class="centerTxt">
                            <p class="title1">Random Img 3</p>
                     <p class="core">
              Nam ac venenatis elit. Duis non nisl nec diam facilisis congue egestas sed libero. Nulla mattis massa sed posuere varius.
                         
                </p>
                    </div>
                        </span>
            
</div>