<div class="row" id="bottom">
          
                <div id="Eimg" class="col botcol"></div>
                <div id="Etxt" class="col botcol">
                    <p class="title4">Random Title 1</p>
                    
                    <p class="title3">Random Description 1</p>
                    <p class="core">
               Duis imperdiet tortor eget est aliquet blandit. In euismod.
                </p>
                     <p class="title3">Random Description 2</p>
                    <p class="core">
                     Quisque bibendum at neque vel vestibulum. Duis velit est. </p>
                    </div>
            </div>