
.row {  
  margin-right: 0;
}


#bottom {  
  background-color: whitesmoke;
  width: 100%;
  height: 250px;
  left: 0;
  padding: 0;
  margin-left: 0;
}

#Eimg {  
  left: 20px;
  background-image: url('../../assets/img/imgE.jpg');
  display: Block;
  width: 140px;
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-position: -50px -5px;
  margin-top: 25px;
  margin-left: 0;
}

.core {  
  text-align: left;
  color: black;
  font-size: 9px;
  font-family: sans-serif;
}


.title3 {  
  text-align: left;
  color: black;
  font-size: 11px;
  font-family: cursive;
  font-weight: bold;
}

.title4 {  
  text-align: center;
  color: black;
  font-size: 13px;
  font-family: cursive;
  font-weight: bold;
}



#Etxt {  
  margin-left: 20px;
  width: 310px;
  height: 200px;
  margin-top: 25px;
}


@media screen and (min-width: 577px) and (max-width: 767.98px) {
  #Etxt {  
    margin-left: 20px;
  }

  #Eimg {  
    margin-left: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  
  .row {   
    margin-right: 0;
  }

  #bottom {  
    background-color: whitesmoke;
    width: 100%;
    height: 250px;
    left: 0;
    padding: 0;
    margin-left: 0;
  }

  #Eimg {  
    left: 20px;
    background-image: url(../../assets/img/imgE.jpg);
    display: Block;
    width: 180px;
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 25px;
    margin-left: 10%;
  }


  .core {  
    text-align: left;
    color: black;
    font-size: 10px;
    font-family: sans-serif;
  }



  .title3 {  
    text-align: left;
    color: black;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
  }

  .title4 {  
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
  }



  #Etxt {  
    margin-left: 0;
    width: 310px;
    height: 200px;
    margin-top: 25px;
  }


}
@media screen and (min-width: 991.98px) {
  

  .row {   
    margin-right: 0;
  }


  #bottom {  
    background-color: whitesmoke;
    width: 100%;
    height: 250px;
    left: 0;
    padding: 0;
    margin-left: 0;
  }


  #Eimg {  
    left: 20px;
    background-image: url(../../assets/img/imgE.jpg);
    display: Block;
    width: 180px;
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 25px;
    margin-left: 10%;
  }

  .core {  
    text-align: left;
    color: black;
    font-size: 10px;
    font-family: sans-serif;
  }


  .title3 {  
    text-align: left;
    color: black;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
  }

  .title4 {  
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
  }


  #Etxt {  
    margin-left: 0;
    width: 310px;
    height: 200px;
    margin-top: 25px;
  }

 
}
