
#top { 
  width: 100%;
  height: 200px;
  left: 0;
  padding: 0;
  margin-left: 0;
}


.Dimg { 
  background-image: url(../images/imgD.jpg);
  display: Block;
  width: 100%;
  height: 200px;
  position: absolute;
  background-repeat: repeat;
  background-position: -200px -230px;
}


#Dtxt { 
  height: 100px;
  width: 300px;
  top: 20px;
  position: relative;
}

#titleTop { 
  text-align: center;
  color: darkslateblue;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bolder;
}

#coreTop { 
  text-align: center;
  color: darkslateblue;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 577px) and (max-width: 767.98px) {
  

  #Dtxt { 
    height: 100px;
    width: 300px;
    margin-left: 20%;
    margin-top: 30px;
    display: Block;
  }

}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
 
  .row {  
    margin-right: 0;
  }

  #top { 
    width: 100%;
    height: 200px;
    left: 0;
    padding: 0;
    margin-left: 0;
  }

  .Dimg { 
    background-image: url(../images/imgD.jpg);
    display: Block;
    width: 100%;
    height: 200px;
    position: absolute;
    background-repeat: repeat;
    background-position: -200px -230px;
  }

  #Dtxt { 
    height: 100px;
    width: 300px;
    margin-left: 26%;
    display: Block;
  }

  #titleTop { 
    text-align: center;
    color: darkslateblue;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
  }

  #coreTop  { 
    text-align: center;
    color: darkslateblue;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
  }
}
@media screen and (min-width: 991.98px) {
  
  .row {   
    margin-right: 0;
  }

  #top { 
    width: 100%;
    height: 200px;
    left: 0;
    padding: 0;
    margin-left: 0;
  }

  .Dimg { 
    background-image: url(../images/imgD.jpg);
    display: Block;
    width: 100%;
    height: 200px;
    position: absolute;
    background-repeat: repeat;
    background-position: -200px -230px;
  }


  #Dtxt { 
    height: 100px;
    width: 500px;
    margin-left: 34%;
    display: Block;
  }

  #titleTop { 
    text-align: center;
    color: darkslateblue;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
  }

  #coreTop { 
    text-align: center;
    color: darkslateblue;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
  }
}
